<div class="large-6 columns">
  <h2>Reset Password</h2>
  <%= form_for @user, url: password_reset_path(params[:id]) do |f| %>
    <div class="form-field">
      <%= f.password_field :password, placeholder: "Password" %>
    </div>
    <div class="form-field">
      <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
    </div>
    <br />
    <%= f.submit "Change Password", class: "button nice small radius" %>
  <% end %>
</div>