<div style="background-color:#ececec" align="center"><div class="adM">
    </div><div width="100%" height="100%" align="center"><div class="adM">
      </div><table border="0" cellpadding="0" cellspacing="0" style="max-width:539px">
        <tbody><tr>
          
          <td style="border-spacing:0px;padding:20px 0 20px 0">
            <table border="0" cellpadding="0" cellspacing="0" style="border-spacing:0px;max-width:539px">
              <tbody><tr>
                <td colspan="3" height="1" bgcolor="#d2d2d2" style="max-width:539px"></td>
              </tr>
              <tr>
                <td width="1" bgcolor="#d2d2d2"></td>
                <td width="537" bgcolor="#FFFFFF">
                  
                  <table border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0px;border-collapse:collapse">
                    <tbody><tr>
                      
                      
                          
                          <td align="left" style="line-height:15px;font-size:13px;font-family:Helvetica,Arial,Sans-Serif;font-weight:normal;padding:47px 25px 22px 25px">
                            Dear <%= @user.name %>,
                            </td>
                          
                        </tr>
                        <tr>
                          
                          <td align="left" style="line-height:15px;font-size:13px;font-family:Helvetica,Arial,Sans-Serif;font-weight:normal;padding:0px 25px 22px 25px">
                            Your password has been changed for (<%= @user.email %>).
                            </td>
                          </tr>
                          <tr>
                            
                            <td align="left" style="font-family:Helvetica,Arial,Sans-Serif;font-size:13px;font-weight:normal;color:#7a7a7a;line-height:15px;padding:0px 25px 37px 25px">
                              If you have not recently changed your password, then you should reset your password.&nbsp;<a style="color:#0a8de9;text-decoration:none" href="http://www.beeranceapp.com/send-password-reset" target="_blank">Send&nbsp;reset.</a>
                              </td>
                            </tr>
                          </tbody></table>
                        </td>
                        <td width="1" bgcolor="#d2d2d2"></td>
                      </tr>
                      <tr>
                        <td colspan="3" height="24" style="vertical-align:top;max-width:539px">
                          
                          <img src="https://statici.icloud.com/emailimages/accountsrvc/paper_bottom_539x24.png" width="100%" height="100%" style="display:block;max-width:539px" alt="">
                        </td>
                      </tr>
                    </tbody></table>
                  </td>
                </tr>
              </tbody></table>
              
              
              <table border="0" width="539" cellpadding="0" cellspacing="0">
                <tbody><tr>
                  
                  <td align="center" style="border-spacing:0px;line-height:14px;padding-left:10px;padding-right:10px">
                    <a style="font-family:Helvetica,Arial,Sans-Serif;font-size:11px;color:#aaadb4;font-weight:bold;text-decoration:none" href="http://www.beeranceapp.com/privacy/" target="_blank">
                    Privacy Policy
                    </a>
                  </td>
                </tr>
                 
                <tr>
                  <td align="center" style="font-family:Helvetica,Arial,Sans-Serif;font-size:11px;font-weight:normal;color:#aaadb4;line-height:14px;padding-left:10px;padding-right:10px">
                    Copyright &copy <%= Date.today.year %> Beerance Company LLC All Rights Reserved.
                    </td>
                  </tr>
                </tbody></table>
                
                <table border="0" width="539" cellpadding="0" cellspacing="0" style="border-spacing:0px">
                <tbody><tr>
                  <td align="center" style="padding-bottom:45px;padding-top:17px">
                    
                  </td>
                </tr>
                <tr><td></td></tr>
              </tbody></table>
            </div>
          </div>