<h2>BeeranceApp.com Admin Portal</h2>
<h4 class="subheader">Here you can manage setting about the application and users</h4>
<hr />

<p style="color:red">
  THIS PORTAL AND THE INFORMATION IN IT ARE PROVIDED IN CONFIDENCE, FOR THE SOLE PURPOSE OF CUSTOMER SERVICE, AND ANY CUSTOMER INFORMATION MAY NOT BE DISCLOSED TO ANY THIRD PARTY OR USED FOR ANY OTHER PURPOSE.
</p>
