<h3>List of News Subscriptions</h3>
<hr />

<ul>
  <% MailChimpList.all.each do |l| %>
    <li>List ID: <%= l.id %> - List Name: <%= l.name %></li>
  <% end %>
</ul>

<div class="large-6 columns">
<ul>
  <h3>Drinkers</h3>
  <% @drinker_news_subscriptions.each do |ns| %>
    <% unless ns.subscriber_email.blank? %>
      <li><%= ns.subscriber_email %></li>
    <% end %>
  <% end %>
</ul>
</div>
<div class="large-6 columns">
<ul>
  <h3>Owners</h3>
  <% @owner_news_subscriptions.each do |ns| %>
    <% unless ns.subscriber_email.blank? %>
      <li><%= ns.subscriber_email %></li>
    <% end %>
  <% end %>
</ul>
</div>