<% if params[:bar_specials][:current_page] %>
  $('.ajax-container').html('<div class="alert-box success"><%= flash[:notice] %></div><%= j render("users/current_specials") %>').fadeIn();
<% else %>
  $('.ajax-container').html('<div class="alert-box success"><%= flash[:notice] %></div><%= j render("users/archives") %>').fadeIn();
<% end %>

$('#ajax_bar').fadeOut();
$('.alert-box.success').hide().fadeIn('slow').delay(4000).fadeOut();