$('.alert-box.notice').remove();
$('<div class="alert-box notice"><%= flash[:notice] %></div>').insertAfter('#ajax_bar');

<% if params[:bar_specials][:current_page] %>
  $('.ajax-container').html('<%= j render("users/current_specials") %>').fadeIn();
<% else %>
  $('.ajax-container').html('<%= j render("users/archives") %>').fadeIn();
<% end %>

$('#ajax_bar').fadeOut();
$('.alert-box.notice').hide().fadeIn('slow').delay(4000).fadeOut();
