$('.alert-box.notice').remove();
$('<div class="alert-box notice"><%= flash[:notice] %></div>').insertAfter('#ajax_bar');
$('.ajax-container').html('<%= j render("users/specials") %>')
$('#ajax_bar').fadeOut();
$('.alert-box.notice').hide().fadeIn('slow').delay(4000).fadeOut();
