
<div class='large-12 columns'>
  <div class="row">
      <div class="large-12 columns">
          <div class='ajax-container'>
              <% if request.path_info == '/my-beerances/archived' %>
                <% title "Archived -  " %>
                <%= render partial: 'archives' %>
              <% else %>
                <% title "My Beerances - " %>
                <%= render partial: 'current_specials' %>
              <% end %>
            </div>          
        </div>
    </div>
</div>
