<% title "My Beerances - " %>

<div class='large-12 columns'>
	<div class="row">
    	<div class="large-12 columns">
        	<div class='ajax-container'>
              <% if current_user.bars.count > 0 %>
                <%= render partial: params[:partial] || 'current_specials' %>
              <% else %>
              	<%= render partial: 'bars' %>
              <% end %>
            </div>          
        </div>
    </div>
</div>
