
<div class='large-12 columns'>
  <div class="row">
      <div class="large-12 columns">
          <div class='ajax-container'>
              <% title "My Beerances - " %>
              <%= render partial: 'specials' %>
            </div>          
        </div>
    </div>
</div>
