<% title "My Beerances - " %>

<div class='large-12 columns'>
	<div class="row">
    	<div class="large-12 columns">
        	<div class='ajax-container'>
              <%= render partial: 'current_specials' %>
            </div>          
        </div>
    </div>
</div>
