<style>
.subnav {
  background: rgb(43, 13, 7);
  color: white;
  padding: 20px;
}
.subnav a { 
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
  margin-right: 28px;
}
.subnav a.current, .subnav a:hover { 
  background-color: rgb(122, 66, 37);
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

.subnav.show-for-small a {
  margin-right: 0;
  color: white;
}
.subnav.show-for-small a.current {
  color: white !important;
}
</style>
<div class='subnav hide-for-small'>
  <div class='row'>
    <div class="large-12 columns">
      <%= link_to "Admin Panel", admin_path, class: is_current?('index') %>
      <%= link_to "User List", users_path, class: are_current?(%w{user_index user_show}) %>
      <%= link_to "News Subscriptions", news_subscriptions_path, class: is_current?('news_subscriptions') %>
      <%= link_to "Test Emails", test_email_path, class: is_current?('test_email') %>
    </div>
  </div>
</div>