<div class='subnav hide-for-small'>
  <div class='row'>
    <div class="large-12 columns">
      <%= link_to "Billing", billing_overview_path, class: is_current?('index') %>
      <%= link_to "Invoices", invoices_path, class: is_current?('invoices') %>
      <%= link_to "Change Card", edit_card_path, class: is_current?('edit_card') %>
      <%= link_to "Change Plan", edit_plan_path, class: is_current?('edit_plan') %>
    </div>
  </div>
</div>