<div class='subnav hide-for-small'>
  <div class='row'>
    <div class="large-12 columns">
      <%= link_to "Billing", billing_overview_path, class: is_current?('index') %>      
    </div>
  </div>
</div>