<div class='subnav'>
  <div class='row'>
    <div class="large-12 columns">      
      <%= link_to "Home", root_path, class: is_current?('index') %>
      <%#= link_to "Get the App", get_the_app_path, class: is_current?('get_the_app') %>
      <%= link_to "How It Works", how_it_works_path, class: is_current?('how_it_works') %>
      <%#= link_to "For Bar Owners", for_bar_owners_path, class: is_current?('for_bar_owners') %>
      <%= link_to "Pricing", pricing_path, class: is_current?('pricing') %>
      <%#= link_to "Support", support_path, class: is_current?('support') %>
    </div>
  </div>
</div>
