<script>
$('#subnav a').live('click', function() {
  $('#subnav a').each( function() {
    $(this).removeClass('current');
  });
  $(this).addClass('current');
})
</script>

<style>
#subnav {
  background: rgb(43, 13, 7);
  color: white;
  padding: 20px;
}
#subnav a { 
  color: white;
  padding: 8px 20px;
  border-radius: 8px;
  margin-right: 28px;
}
#subnav a.current, #subnav a:hover { 
  background-color: rgb(122, 66, 37);
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}
</style>
<div id="subnav">
  <div class='row'>
    <div class="large-12 columns">
      <a href="/">Home</a>
      <%#= link_to "Get the App", get_the_app_path, class: is_current?('get_the_app') %>
      <%= link_to "How It Works", how_it_works_path, class: is_current?('how_it_works') %>
      <%#= link_to "For Bar Owners", for_bar_owners_path, class: is_current?('for_bar_owners') %>
      <%#= link_to "Pricing", pricing_path, class: is_current?('pricing') %>
      <%#= link_to "Support", support_path, class: is_current?('support') %>
    </div>
  </div>
</div>