<% title "Billing - " %>

<h2>Your Bars</h2>
<p>Manage the billing information and plan of your bars</p>
	<ul>
		<% current_user.bars.each do |bar| %>
  	<li><%= bar.name %> | <%= link_to "Details", show_billing_path(bar.id) %> | <%= link_to "Invoices", invoices_path(bar.id) %></li>
  	<% end %>
	</ul>
