<style>
h2 {color: #a87250;}
</style>
<br />
<br />

<div class="row" style="border-bottom: 2px solid brown">
  <div class="large-6 columns">
    <%= image_tag "iphone.png", style: 'width: 100%; height: 100%;bottom: -3px; position: relative;' %>
  </div>
  <div class="large-6 columns" style="max-height: 400px; overflow: scroll;bottom: -3px; position: relative;">
    <h3>Step 1</h3>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <hr />
    <h3>Step 2</h3>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <hr />
    <h3>Step 3</h3>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
  </div>
</div>
<div class="row" style="border-bottom: 2px solid brown">
  <div class='large-12 columns'>
    <h2>About</h2>
    <p>Bacon ipsum dolor sit amet jerky shank ball tip shankle turkey, sausage t-bone shoulder cow ham hock sirloin tri-tip turducken tail swine. Pork loin short loin leberkas pork chop, beef pork sirloin corned beef boudin bacon cow strip steak. Tongue meatball sirloin tri-tip. Jowl shoulder pig frankfurter. Turkey andouille bacon beef, rump drumstick cow prosciutto short loin jerky jowl ham hock ground round.
    </p>
  </div>
</div>
<div class="row">
  <div class='large-12 columns'>
    <h2>Blog</h2>
    <div class="row">
      <div class="large-6 columns">
        <p>
          <%= image_tag "red.png", class: 'left', style: 'width: 74px; height: 118px; padding: 12px; padding-right: 18px;' %>
          Tail pork belly hamburger leberkas cow venison. Tenderloin strip steak chicken fatback, prosciutto ribeye turducken pancetta turkey chuck bacon.
        </p>
      </div>
      <div class="large-6 columns">
        <p>
          <%= image_tag "black.png", class: 'left', style: 'width: 74px; height: 118px; padding: 12px; padding-right: 18px;' %>
          Pig pork shoulder biltong, chuck t-bone drumstick beef jowl spare ribs. Meatball kielbasa ham sirloin tail andouille turducken turkey tongue short loin flank short ribs.
        </p>
      </div>
    </div>
  </div>
</div>
