<style>
h2 {color: #a87250;}
</style>
<br />
<br />

<div class="row" style="border-bottom: 2px solid brown">
  <div class="large-6 columns">
    <%= image_tag "iphone.png", style: 'width: 100%; height: 100%;bottom: -3px; position: relative;' %>
  </div>
  <div class="large-6 columns" style="max-height: 400px; overflow: scroll;bottom: -3px; position: relative;">
    <h3>Step 1</h3>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <hr />
    <h3>Step 2</h3>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <hr />
    <h3>Step 3</h3>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
    <p>flsdkfjdskjflkflsdkfjdskjflk</p>
  </div>
</div>
<div class="row" style="border-bottom: 2px solid brown">
  <div class='large-12 columns'>
    <h2>About</h2>
    <p>Suspendisse at ligula risus, eu hendrerit magna. Aliquam erat volutpat. Sed malesuada, mi non tempus hendrerit, elit felis hendrerit metus, sed hendrerit leo tortor eget nunc. Morbi ac nisi erat, at dapibus risus. Fusce placerat urna augue, a lacinia purus. Pellentesque eu felis felis, tempus ornare massa. Maecenas risus elit, congue vestibulum pharetra non, sollicitudin ut turpis. Nulla ut augue dolor. Integer sed eros nulla.
</p>
  </div>
</div>
<div class="row">
  <div class='large-12 columns'>
    <h2>Blog</h2>
    <div class="row">
      <div class="large-6 columns">
        <p>
          <%= image_tag "beer_icon_05.jpg", class: 'left', style: 'width: 74px; height: 88px; padding: 12px; padding-right: 18px;' %>
          Suspendisse at ligula risus, eu hendrerit magna. Aliquam erat volutpat. Sed malesuada, mi non tempus hendrerit, elit felis hendrerit metus, sed hendrerit leo tortor eget nunc. Morbi ac nisi erat, at dapibus risus. Fusce placerat urna augue, a lacinia purus. 
        </p>
      </div>
      <div class="large-6 columns">
        <p>
          <%= image_tag "beer_icon_05.jpg", class: 'left', style: 'width: 74px; height: 88px; padding: 12px; padding-right: 18px;' %>
          Pellentesque eu felis felis, tempus ornare massa. Maecenas risus elit, congue vestibulum pharetra non, sollicitudin ut turpis. Nulla ut augue dolor. Integer sed eros nulla.
        </p>
      </div>
    </div>
  </div>
</div>
