<% title 'Pricing - ' %>

<div class='large-12 columns'>
	<div class="row">
			<div class="row">
				<div class="large-4 columns">
					<h2 style='color: orange !important'>3 Month Plan</h2>
					<ul>
						<li>15 day FREE trial</li>
						<li>Standard Plan</li>
						<li>Plan renews every 3 months</li>
					</ul>
					<a class='orange button nice radius' href="/sessions/register/sign_up">
						<span style='font-size: 43px'>$15<br />
						Per month</span><br />
						Sign up today
					</a>
				</div>
				<div class="large-4 columns">
					<h2  style='color: #752201 !important'>6 Month Plan</h2>
					<ul>
						<li>30 day FREE trial</li>
						<li>Great Value</li>
						<li>Plan renews every 6 months</li>
					</ul>
					<a class='in-brown button nice radius' href="/sessions/register/sign_up">
						<span style='font-size: 43px'>$12<br />
						Per month</span><br />
						Sign up today
					</a>
				</div>
				<div class="large-4 columns">
					<h2  style='color: #74AE22 !important'>1 Year Plan</h2>
					<ul>
						<li>45 day FREE trial</li>
						<li>Best Value</li>
						<li>Plan renews once a year</li>
					</ul>
					<a class='green button nice radius' href="/sessions/register/sign_up">
						<span style='font-size: 43px'>$10<br />
						Per month</span><br />
						Sign up today
					</a>
				</div>
			</div>

	</div>
</div>
		