/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 *= require animate
 */

@import 'foundation';

.errorExplanation h2 { font-size: 17px; color: white; }
.errorExplanation {
  border: 1px solid red;
  padding: 8px;
  color: white;
  background: #ff3019; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

.field_with_errors input {
  border: 1px dotted red;
}

.top-bar {  
  margin-bottom: 0 !important;
  background-image: url(header.png) !important;
  box-shadow: 0 1px 3px #AAA;
  background: blue;
  width: 100%;
}

.panel {margin-left: 15px !important;}

fieldset {background: #FFF;}

.error_messages {
  padding: 15px;
  border: 1px solid red;
  background: #fcc7c7;
  h2 {color: red;}
  ul {padding-left: 18px;}
}

.field_with_errors {
  label {color:red;}
  input {border: 1px dotted red !important;}
}
.side-bar {
  background: #3f1c04; color: white; color: #FFECE0;
}

h2 {font-family: "Domine"}
li {list-style-type: none;}

#debug {
  padding: 16px;
  background: #333;
  color: #69F;
  display:none;
}
#ajax_bar {
  display: none;
  text-align: center;
  color: white;
  width: 220px;
  height: 200px;
  position: fixed;
  left: 45%;
  top: 45%;
  z-index: 999;
  padding: 38px;
  background-position: 75px 90px;
  background-repeat: no-repeat;
  border: 1px solid #333;
  box-shadow: 0 1px 3px #666;
  border-radius: 4px;
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#jPanelMenu-menu {
  background: #3f1c04;

  li {
    a {background: #a87250;}
  }
}

body, html {height: 100% !important;}

/* #footermain */
#footermain {clear: both;margin-top: 0px; background: #222; border-top: 2px solid brown; padding: 10px 0; width: 100%; text-align: center;
  h5 { font-size: 16px; color: brown; margin-bottom: 10px;
    a {padding: 3px 10px 5px; position: relative; top: -3px; left: -10px;}
    a:hover {background-color: #f4f4f4;border-radius: 8px;}
  }
  ul {line-height: 130%; margin-bottom: 15px;
    li, li a {color: #999}
    li {margin-bottom: 5px; list-style-type:none;
      a:hover {color: #444;}
      a > img {position: relative; margin-right: 3px; top: 2px;}
    }
  }
  form label {color: #888; position: relative; top: -4px;}
  .twelve.columns.centered { font-size: 11px; color: #888; text-align: center;}
  .vcard {border: 0; padding: 0; margin: 0;}
  
  & .show-for-small { font-size: 12px; text-align: center; margin-bottom: 15px; margin-top: 15px;
    dd {display: inline-block; margin-right: 10px;
      &:last-child {margin-right: 0;}
      a {color: brown;
        &:hover, &:focus {color: #999;}
      }
    }
  }
}

.contact, .login {
  background:#a87250; 
  color:#FFF; 
  width:100%; 
  height:140px;
  a {
    color: black;
    text-decoration: underline;
  }
}
.login {padding-top: 40px;}
.contact {padding-top: 12px;}
#stripe_error {color: red; padding: 16px; margin: 16px;}
.alert-box.notice {
  z-index: 999;
  text-shadow: 1px -1px 0px #999;
  text-align: center;
  top: 47px;
  position: fixed;
  width: 100%;
  border: 0;
  box-shadow: 0 1px 3px #555;
  display: none;
  background: #a9db80; /* Old browsers */
  background: -moz-linear-gradient(top,  #a9db80 0%, #96c56f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9db80), color-stop(100%,#96c56f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a9db80 0%,#96c56f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a9db80 0%,#96c56f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a9db80 0%,#96c56f 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a9db80 0%,#96c56f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9db80', endColorstr='#96c56f',GradientType=0 ); /* IE6-9 */
}