// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.bar-list {
  list-style-type: none;
  margin-bottom: 30px;
  padding: 0 15px;
  box-shadow: 0 1px 3px #AAA;
}

div.bar-title {
  border-top: 1px solid brown;
  border-left: 1px solid brown;
  border-right: 1px solid brown;
  background-image: url(header.png);
  border-radius: 3px 3px 0 0;
  height: 44px;
  h4 {
    color: white;
    text-shadow: 0 -1px 1px brown;
  }
  
}
div.bar-content {
  background: white;
  border-radius: 0 0 3px 3px;
  padding: 0 15px;
  border-bottom: 1px solid brown;
  border-left: 1px solid brown;
  border-right: 1px solid brown;
  ul li {list-style-type: none;}
}

table {width: 100%;}